
[Unit]
Description=Lanuch hypervisor daemon for {{ item[0].name }} guest virtual machine
{% if service_bumblebee_enabled|default(false) %}
{% for passthrough in item[0].passthroughs %}
{% if hardware_vfio_devices[passthrough].device == service_bumblebee_device %}
After=bumblebeed.service
{% endif %}
{% endfor %}
{% endif %}
{% for passthrough in item[0].passthroughs %}
AssertPathExists=!/run/vfio-{{ passthrough }}.lock
{% endfor %}

[Service]
Type=simple
ExecStart=/usr/local/sbin/{{ item[0].name }}-daemon
ExecStartPre=/usr/local/sbin/{{ item[0].name }}-initialize
ExecStopPost=/usr/local/sbin/{{ item[0].name }}-finalize
User={{ item[0].account }}
Group={{ item[0].account }}
WorkingDirectory=~
PermissionsStartOnly=yes
Nice=0
UMask=0002
PrivateTmp=yes
LimitMEMLOCK=infinity
CPUAffinity=8-15

