
[Unit]
Description=Automatically update the local firefox installation

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/update-firefox
WorkingDirectory=/usr/local/lib/firefox
ProtectSystem=strict
ProtectHome=yes
PrivateDevices=yes
PrivateTmp=yes
ProtectHostname=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectProc=invisible
RestrictAddressFamilies=AF_INET
RestrictAddressFamilies=AF_INET6
RestrictAddressFamilies=AF_UNIX
RestrictNamespaces=true
RestrictRealtime=yes
RestrictSUIDSGID=yes
CapabilityBoundingSet=
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
ProcSubset=pid
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@resources
UMask=0022
ReadWritePaths=-/usr/local/bin
ReadWritePaths=-/usr/local/lib/firefox

