
[Unit]
Description=Mosquitto Password Update Container

[Service]
Type=oneshot
RemainAfterExit=yes

[Container]
Image=docker.io/library/eclipse-mosquitto:latest
Exec=/bin/sh /mosquitto/config/pwfile.sh
Volume=/etc/mosquitto:/mosquitto/config:rw,nodev,noexec,nosuid,z
User=1883
Group=1883
{% if ansible_facts.packages.podman is defined and ansible_facts.packages.podman[0].version is ansible.builtin.version('4.8.0', '>=') %}
UIDMap=0:65534:1
UIDMap=1883:{{ service_mosquitto_user.uid }}:1
GIDMap=0:65534:1
GIDMap=1883:{{ service_mosquitto_group.gid }}:1
{% else %}
PodmanArgs=--uidmap 0:65534:1 --uidmap 1883:{{ service_mosquitto_user.uid }}:1 --gidmap 0:65534:1 --gidmap 1883:{{ service_mosquitto_group.gid }}:1
{% endif %}
Network=none
NoNewPrivileges=yes
AutoUpdate=local

[Install]
WantedBy=mosquitto.service

