<?xml version="1.0" encoding="utf-8"?>
<zone target="ACCEPT">
	<short>Zone for Caddy-Controller Podman Network</short>
	<description>Firewalld zone to allow caddy-controller podman network to work without firewalld interference</description>
	<interface name="caddyctrl" />
	<service name="dns" />
</zone>
