<?xml version="1.0" encoding="utf-8"?>
<zone target="ACCEPT">
	<short>Zone for Caddy Podman Network</short>
	<description>Firewalld zone to allow caddy podman network to work without firewalld interference</description>
	<interface name="caddy" />
	<service name="dns" />
</zone>
