<?xml version="1.0" encoding="utf-8"?>
<zone target="ACCEPT">
	<short>Zone for Mosquitto Podman Network</short>
	<description>Firewalld zone to allow mosquitto podman network to work without firewalld interference</description>
	<interface name="mosquitto" />
	<service name="dns" />
</zone>
