
#
# ensure the sandbox name
#

join-or-start kmchan-baidunetdisk

{% for section in account_baidunetdisk_firejail_options|default([]) %}
#
# {{ section.name }}
#

{% for line in section.rules %}
{{ line }}
{% endfor %}

{% endfor %}
#
# include the system profile
#

include ${CFG}/baidunetdisk.profile

