
#
# ensure the sandbox name
#

join-or-start kmchan-steam

{% if service_bumblebee_enabled|default(false) %}
#
# Enable bumblebee support
#

env BUMBLEBEE_SOCKET={{ bumblebee_socket }}
whitelist {{ bumblebee_socket }}

{% endif -%}
{% for section in account_steam_firejail_options|default([]) %}
#
# {{ section.name }}
#

{% for line in section.rules %}
{{ line }}
{% endfor %}

{% endfor %}
#
# include the system profile
#

include ${CFG}/steam.profile

