[Desktop Entry]
Name=Firefox ({{ profile.directory }} Profile)
Comment=Web Browser
Exec=firejail --profile=firefox-{{ profile.name }} /usr/local/bin/firefox -P {{ profile.directory }} %u
Terminal=false
Type=Application
Icon=firefox
Categories=Network;WebBrowser;
{% if profile.default|default(false) %}
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;
{% endif %}
StartupNotify=true
Actions=Private;

[Desktop Action Private]
Exec=firejail --profile=firefox-{{ profile.name }} /usr/local/bin/firefox -P {{ profile.directory }} --private-window %u
Name=Open in private mode

