[Desktop Entry]                                                                                                                                     
Encoding=UTF-8                                                                                                                                      
Version=1.0
Type=Application
Exec=firejail --profile=/home/kmchan/.config/firejail/firefox-private.profile firefox -P Private --new-instance
Terminal=false
Name=Mozilla Firefox (Private Profile)
Icon=firefox
Categories=Network;WebBrowser;
