
<VirtualHost *:80>
	ServerName {{ service_apache_default_virtual_host }}
	ServerAdmin webmaster@localhost
	DocumentRoot /var/www/html
	ErrorLog ${APACHE_LOG_DIR}/error.log
	CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>

{% if service_apache_http_proxy_port|default(8080) != false %}
<VirtualHost *:{{ service_apache_http_proxy_port|default(8080) }}>
	ServerName {{ service_apache_default_virtual_host }}
	ServerAdmin webmaster@localhost
	DocumentRoot /var/www/html
	ErrorLog ${APACHE_LOG_DIR}/error.log
	CustomLog ${APACHE_LOG_DIR}/access.log combined
	Include /etc/apache2/includes/proxy.conf
</VirtualHost>
{% endif %}

