
<IfModule mod_ssl.c>
	<VirtualHost *:443>
		ServerName {{ service_apache_default_virtual_host }}
		ServerAdmin webmaster@localhost
		DocumentRoot /var/www/html
		ErrorLog ${APACHE_LOG_DIR}/error.log
		CustomLog ${APACHE_LOG_DIR}/access.log combined
		SSLEngine On
		SSLCertificateFile /etc/letsencrypt/live/{{ service_apache_default_virtual_host }}/fullchain.pem
		SSLCertificateKeyFile /etc/letsencrypt/live/{{ service_apache_default_virtual_host }}/privkey.pem
	</VirtualHost>

{% if service_apache_https_proxy_port|default(8443) != false %}
	<VirtualHost *:{{ service_apache_https_proxy_port|default(8443) }}>
		ServerName {{ service_apache_default_virtual_host }}
		ServerAdmin webmaster@localhost
		DocumentRoot /var/www/html
		ErrorLog ${APACHE_LOG_DIR}/error.log
		CustomLog ${APACHE_LOG_DIR}/access.log combined
		SSLEngine On
		SSLCertificateFile /etc/letsencrypt/live/{{ service_apache_default_virtual_host }}/fullchain.pem
		SSLCertificateKeyFile /etc/letsencrypt/live/{{ service_apache_default_virtual_host }}/privkey.pem
		Include /etc/apache2/includes/proxy.conf
	</VirtualHost>
{% endif %}
</IfModule>

