# vim: syntax=apache ts=4 sw=4 sts=4 sr noet


<Directory /var/www/test.kmchan3.space/html>
	Options SymLinksIfOwnerMatch
	AllowOverride All
	Require ip 127.0.0.0/8
	Require ip 10.0.0.0/8
	Require ip 172.16.0.0/12
	Require ip 192.168.0.0/16
</Directory>

<Directory /var/www/test.kmchan3.space/scripts>
	Options SymLinksIfOwnerMatch
	AllowOverride All
	Require all denied
</Directory>

<VirtualHost _default_:{{ service_apache_http_port|default(80) }}>
	ServerName test.kmchan3.space
	DocumentRoot "/var/www/test.kmchan3.space/html"
	ErrorLog ${APACHE_LOG_DIR}/test.kmchan3.space_error.log
	CustomLog ${APACHE_LOG_DIR}/test.kmchan3.space_access.log combined
	Include /etc/apache2/proxy.off.inc

	<FilesMatch ".+\.ph(ar|p|tml)$">
		SetHandler "proxy:unix:/run/php/php{{ php_version }}-fpm.test.kmchan3.space.sock|fcgi://localhost"
	</FilesMatch>
</VirtualHost>
{% if service_apache_http_proxy_port|default(8080) != false %}

<VirtualHost _default_:{{ service_apache_http_proxy_port|default(8080) }}>
	ServerName test.kmchan3.space
	DocumentRoot "/var/www/test.kmchan3.space/html"
	ErrorLog ${APACHE_LOG_DIR}/test.kmchan3.space_error.log
	CustomLog ${APACHE_LOG_DIR}/test.kmchan3.space_access.log combined
	Include /etc/apache2/proxy.on.inc

	<FilesMatch ".+\.ph(ar|p|tml)$">
		SetHandler "proxy:unix:/run/php/php{{ php_version }}-fpm.test.kmchan3.space.sock|fcgi://localhost"
	</FilesMatch>
</VirtualHost>
{% endif -%}
{% if service_apache_https_port|default(443) != false %}

<VirtualHost _default_:{{ service_apache_https_port|default(443) }}>
	ServerName test.kmchan3.space
	DocumentRoot "/var/www/test.kmchan3.space/html"
	ErrorLog ${APACHE_LOG_DIR}/test.kmchan3.space_error.log
	CustomLog ${APACHE_LOG_DIR}/test.kmchan3.space_access.log combined
	Include /etc/apache2/proxy.off.inc
	SSLEngine On
	SSLCertificateFile /etc/letsencrypt/live/test.kmchan3.space/fullchain.pem
	SSLCertificateKeyFile /etc/letsencrypt/live/test.kmchan3.space/privkey.pem

	<FilesMatch ".+\.ph(ar|p|tml)$">
		SetHandler "proxy:unix:/run/php/php{{ php_version }}-fpm.test.kmchan3.space.sock|fcgi://localhost"
	</FilesMatch>
</VirtualHost>
{% endif -%}
{% if service_apache_https_proxy_port|default(8443) != false %}

<VirtualHost _default_:{{ service_apache_https_proxy_port|default(8443) }}>
	ServerName test.kmchan3.space
	DocumentRoot "/var/www/test.kmchan3.space/html"
	ErrorLog ${APACHE_LOG_DIR}/test.kmchan3.space_error.log
	CustomLog ${APACHE_LOG_DIR}/test.kmchan3.space_access.log combined
	Include /etc/apache2/proxy.on.inc
	SSLEngine On
	SSLCertificateFile /etc/letsencrypt/live/test.kmchan3.space/fullchain.pem
	SSLCertificateKeyFile /etc/letsencrypt/live/test.kmchan3.space/privkey.pem

	<FilesMatch ".+\.ph(ar|p|tml)$">
		SetHandler "proxy:unix:/run/php/php{{ php_version }}-fpm.test.kmchan3.space.sock|fcgi://localhost"
	</FilesMatch>
</VirtualHost>
{% endif %}


