<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>Home Assistant Service</short>
  <description>Firewalld Service for the local home assistant service.</description>
  <port protocol="tcp" port="8123"/>
  <port protocol="udp" port="48899"/> <!-- Magic Home Integration -->
</service>
