<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>Zigbee2MQTT Service</short>
  <description>Firewalld Service for the local zigbee2mqtt service.</description>
  <port protocol="tcp" port="{{ service_zigbee2mqtt_port|mandatory }}"/>
</service>
