
[Socket]
ListenStream=/home/kmchan/.bumblebee.socket
SocketUser=kmchan
SocketGroup=kmchan
SocketMode=0644
Accept=no
RemoveOnStop=yes

[Install]
WantedBy=default.target

