
[Unit]
Description=Temporary Directory
ConditionPathIsDirectory=/mnt/ramdrive
ConditionPathIsMountPoint=/mnt/ramdrive

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=install -d -o kmchan -g kmchan -m 0700 /mnt/ramdrive/kmchan

[Install]
WantedBy=default.target

