{%- extends 'files/guest.instances.inc.j2' -%}{%- block body -%}
#!/bin/bash

{% for network in networks %}
ip link set "{{ network.device }}" nomaster
ip link set "{{ network.device }}" down
ip tuntap del "{{ network.device }}" mode tap

{% endfor %}
{% endblock %}
