#!/bin/bash

#
# The file binds {{ hardware_pci_devices[item.value.device].name }} to vfio-pci module
# so that it can be passed to virtual machines.
#

if [[ ! -f "/run/vfio-{{ item.key }}.lock" ]]; then
{% for cmd in item.value.before|default([]) %}
  {{ cmd }}
{% endfor %}
  touch "/run/vfio-{{ item.key }}.lock"
{% for address in hardware_pci_devices[item.value.device].addresses %}

  echo "{{ address['vendor'] }} {{ address['model'] }}" > /sys/bus/pci/drivers/vfio-pci/new_id
  echo "{{ address|pciaddr('pciutils') }}" > /sys/bus/pci/devices/{{ address|pciaddr('pciutils') }}/driver/unbind
  echo "{{ address|pciaddr('pciutils') }}" > /sys/bus/pci/drivers/vfio-pci/bind
  echo "{{ address['vendor'] }} {{ address['model'] }}" > /sys/bus/pci/drivers/vfio-pci/remove_id
{% endfor %}
fi

