# vim: syntax=apache ts=4 sw=4 sts=4 sr noet


#########################################################################
#
# Ensure that the server will only report Apache in response header, but
# not extra details like version, build or operating system.
#

ServerTokens ProductOnly


##########################################################################
#
# Ensure that the server will not attach signature information to server
# generated pages.
#

ServerSignature Off


