# vim: syntax=apache ts=4 sw=4 sts=4 sr noet


{% if service_apache_http_proxy_port|default(8080) != false %}
#########################################################################
#
# Listen to alternative http port with proxy protocol enabled over it.
#

Listen {{ service_apache_http_proxy_port|default(8080) }}


{% endif -%}
{% if service_web_https_proxy_port|default(8443) != false %}
#########################################################################
#
# Listen to alternative https port with proxy protocol enabled over it.
#

<IfModule ssl_module>
	Listen {{ service_web_https_proxy_port|default(8443) }}
</IfModule>

{% endif %}
