# vim: syntax=apache ts=4 sw=4 sts=4 sr noet


#########################################################################
#
# Sanitize the default options for the /var/www location.
#

<Directory /var/www>
	Options -Indexes
</Directory>


