
{% if software_firejail_enabled|default(false) == true %}
auto firejail
iface firejail inet static
  address {{ software_firejail_network_address|ipaddr('address') }}
  netmask {{ software_firejail_network_address|ipaddr('netmask') }}
  mtu 9000
  bridge_ports none
{% endif %}

