
{% if software_firejail_enabled|default(false) == true %}
auto firejail
iface firejail inet static
  address {{ software_firejail_gateway }}
  netmask {{ software_firejail_netmask }}
  mtu 9000
  bridge_ports none
{% endif %}

