[Desktop Entry]
Name=Android Studio
Comment=Integrated Development Environment
Exec=/usr/local/bin/android-studio
Icon={{ install_android_studio_directory }}/bin/studio.png
Categories=Development;IDE;
Terminal=false
Type=Application
Keywords=development;IDE;platform;
