
##########################################################################
#
# Firejail profile for Baidu Netdisk Client
#

# Persistent local customizations
include baidunetdisk.local

# Persistent global definitions
include globals.local

# Allows access to application cache and config
noblacklist ${HOME}/.cache/baidunetdisk
noblacklist ${HOME}/.config/baidunetdisk
noblacklist ${DOWNLOADS}
whitelist ${HOME}/.cache/baidunetdisk
whitelist ${HOME}/.config/baidunetdisk
whitelist ${DOWNLOADS}

# The client will decompress some libraries to /tmp. If the directory
# is mounted noexec the libraries will fail to load.
ignore noexec /tmp

# Redirect
include electron.profile

