
# enable some relatively safe desktop features such as file manager control,
# desktop notification and sleep inhibition.

include ${CFG}/allow-file-manager-control.inc
include ${CFG}/allow-notification.inc
include ${CFG}/allow-screensaver-inhibition.inc
include ${CFG}/allow-sleep-inhibition.inc

