
{% if software_firejail_enabled|default(false) == true %}
table inet firejail {
  chain postrouting {
    type nat hook postrouting priority srcnat;
    meta iifname firejail meta oifname != firejail masquerade
  }
}
{% endif %}

