
export PRIMUS_VK_RENDERID={{ hardware_pci_devices[hardware_video_device]["addresses"][0]["vendor"] }}:{{ hardware_pci_devices[hardware_video_device]["addresses"][0]["model"] }}
export PRIMUS_VK_DISPLAYID={{ hardware_pci_devices[service_bumblebee_device]["addresses"][0]["vendor"] }}:{{ hardware_pci_devices[service_bumblebee_device]["addresses"][0]["model"] }}

