<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Private Server</title>
  </head>
  <body>
    <h1>Private Server</h1>
    <p>This is a private server not for public access. If you reach here accidentally, leave immediately.</p>
  </body>
</html>
