
pcm_type.piper {
  lib /usr/local/lib/alsa/libasound_module_pcm_piper.so
}

pcm.piper {
  type piper
  playback {{ guest_socket_prefix }}/{{ item[0].name }}/playback
  capture {{ guest_socket_prefix }}/{{ item[0].name }}/capture
}

