
{%- set name = item[0].name -%}
{%- set account = item[0].account -%}

{%- set config_directory = "/etc/default/guest" -%}
{%- set data_directory = guest_data_prefix ~ "/" ~ name -%}
{%- set socket_directory = guest_socket_prefix ~ "/" ~ name -%}
{%- set ivshmem_directory = guest_ivshmem_prefix ~ "/" ~ name -%}

{%- set config_file = config_directory ~ "/" ~ name -%}
{%- set bios_file = data_directory ~ '/OVMF_VARS.fd' -%}
{%- set monitor_socket = socket_directory ~ '/monitor' -%}
{%- set spice_socket = socket_directory ~ '/spice' -%}

{%- set temp_buses = namespace(items=[], index=4) -%}
{%- set temp_cards = namespace(items=[], memory=0, index=0) -%}
{%- set temp_disks = namespace(items=[], index=0) -%}
{%- set temp_networks = namespace(items=[], index=1) -%}

{%- if guest_disks is defined -%}
	{%- if item[0].disks is defined -%}
		{%- for disk in guest_disks if disk.name in item[0].disks -%}
			{%- if disk.type == 'file' -%}
				{%- set path = disk.path -%}
				{%- set format = disk.format|default('raw') -%}
				{%- set options = "cache=writeback,discard=unmap,detect-zeroes=unmap" -%}
				{%- set temp_disks.items = temp_disks.items + [ dict(index=temp_disks.index, path=path, format=format, options=options) ] -%}
				{%- set temp_disks.index = temp_disks.index + 1 -%}
			{%- elif disk.type == 'device' -%}
				{%- set path = '/dev/' ~ disk.device -%}
				{%- set format = 'raw' -%}
				{%- set options = "cache=none,aio=native,discard=unmap,detect-zeroes=unmap" -%}
				{%- set temp_disks.items = temp_disks.items + [ dict(index=temp_disks.index, path=path, format=format, options=options) ] -%}
				{%- set temp_disks.index = temp_disks.index + 1 -%}
			{%- elif disk.type == 'lvm' -%}
				{%- set path = '/dev/mapper/' ~ disk.volume_group ~ '-' ~ disk.logical_volume -%}
				{%- set format = 'raw' -%}
				{%- set options = "cache=none,aio=native,discard=unmap,detect-zeroes=unmap" -%}
				{%- set temp_disks.items = temp_disks.items + [ dict(index=temp_disks.index, path=path, format=format, options=options) ] -%}
				{%- set temp_disks.index = temp_disks.index + 1 -%}
			{%- endif -%}
		{%- endfor -%}
	{%- endif -%}
{%- endif -%}

{%- if guest_networks is defined and guest_networks.bridges is defined -%}
	{%- if item[0].networks is defined -%}
		{%- for key, bridge in guest_networks.bridges.iteritems() if key in item[0].networks -%}
			{%- set device = key ~ '-' ~ name -%}
			{%- set master = key -%}
			{%- set temp_networks.items = temp_networks.items + [ dict(index=temp_networks.index, bus=temp_buses.index, device=device, master=master) ] -%}
			{%- set temp_networks.index = temp_networks.index + 1 -%}
			{%- set temp_buses.items = temp_buses.items + [ dict(index=temp_buses.index) ] -%}
			{%- set temp_buses.index = temp_buses.index + 1 -%}
		{%- endfor -%}
	{%- endif -%}
{%- endif -%}

{%- if guest_passthroughs is defined -%}
	{%- if item[0].passthroughs is defined -%}
		{%- for passthrough in guest_passthroughs if passthrough.name in item[0].passthroughs -%}
			{%- for bus in passthrough.tree -%}
				{%- for function in bus -%}
					{%- set address = function.address -%}
					{%- set options = ',' ~ function.options if function.options is defined and function.options != '' else '' -%}
					{%- set temp_cards.items = temp_cards.items + [ dict(index=temp_cards.index, bus=temp_buses.index, address=address, options="") ] -%}
					{%- set temp_cards.memory = temp_cards.memory + function.memory|default(0) -%}
					{%- set temp_cards.index = temp_cards.index + 1 -%}
				{%- endfor -%}
				{%- set temp_buses.items = temp_buses.items + [ dict(index=temp_buses.index) ] -%}
				{%- set temp_buses.index = temp_buses.index + 1 -%}
			{%- endfor -%}
		{%- endfor -%}
	{%- endif -%}
{%- endif -%}

{%- set processor_socket = item[0].processor_socket|default(1) -%}
{%- set processor_core = item[0].processor_core|default(4) -%}
{%- set processor_thread = item[0].processor_thread|default(1) -%}

{%- set memory_size = item[0].memory_size|default(4) -%}
{%- set memory_hole = memory_size + temp_cards.memory -%}
{%- set memory_prealloc = item[0].memory_prealloc|default(4) -%}

{%- set video_hardware = item[0].video_hardware -%}
{%- set sound_hardware = item[0].sound_hardware -%}

{%- set looking_glass = item[0].looking_glass|default(true) -%}
{%- set looking_glass_file = ivshmem_directory ~ '/looking_glass' -%}
{%- set looking_glass_size = 32 -%}

{%- set piper = item[0].piper|default(true) -%}
{%- set piper_playback_file = socket_directory ~ '/playback' -%}
{%- set piper_capture_file = socket_directory ~ '/capture' -%}
{%- set piper_format = "S16_LE" -%}
{%- set piper_rate = 44100 -%}
{%- set piper_channels = 2 -%}
{%- set piper_period_time = 10 -%}
{%- set piper_period_size = (piper_rate * piper_period_time / 1000)|int -%}

{%- set scream = item[0].scream|default(true) -%}
{%- set scream_file = ivshmem_directory ~ '/scream' -%}
{%- set scream_size = 2 -%}

{%- set buses = temp_buses.items -%}
{%- set cards = temp_cards.items -%}
{%- set disks = temp_disks.items -%}
{%- set networks = temp_networks.items -%}

{% block body %}
{% endblock %}
