
{% if hardware_video_offload_device|default(false) != false %}
#
# Offload device exists in the system. To avoid the device from being
# used, auto-detection is disabled and the output device is configured
# explicitly.
#

Section "ServerFlags"
  Option "AutoAddGPU" "false"
  Option "AutoBindGPU" "false"
EndSection

Section "Device"
  Identifier "{{ hardware_pci_devices[hardware_video_output_device]['name'] }}"
  BusID "PCI:{{ hardware_pci_devices[hardware_video_output_device]['addresses'][0]|pciaddr('xorg') }}"
  Driver "{{ hardware_video_output_x11_driver }}"
{% if hardware_video_output_x11_driver == 'intel' or hardware_video_output_x11_driver == 'amdgpu' %}
  Option "DRI" "3"
{% endif %}
EndSection
{% endif %}

