
{% if hardware_vfio_pci_stub|length > 0 -%}
#
# Configure the vfio-pci module to stub the following devices so that
# they can be used in passthrough.
#

options vfio_pci ids={{ hardware_vfio_pci_stub|join(',') }}
{%- endif %}


#
# Force nvidia module to load after the vfio-pci module. It gives the
# module a chance to stub to the target first.
#

softdep nvidia pre: vfio-pci
softdep nvidia_384 pre: vfio-pci
softdep nouveau pre: vfio-pci

