
[Interface]
PrivateKey = {{ options.private_key|mandatory }}
ListenPort = {{ options.listen_port|default(51820) }}

{% for peer in options.peers|default([]) %}
[Peer]
{% if peer.endpoint is defined %}
Endpoint = {{ peer.endpoint }}
{% endif %}
PublicKey = {{ peer.public_key|mandatory }}
AllowedIPs = {{ peer.allowed_ips|default('0.0.0.0/0') }}
{% endfor %}

