
[Service]
NoNewPrivileges=yes
ProtectProc=invisible
ProtectSystem=strict
ProtectHome=yes
ProtectClock=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
PrivateTmp=yes
PrivateDevices=yes
PrivateIPC=yes
LockPersonality=yes
ReadWritePaths=-/run
ReadWritePaths=-/var/cache
ReadWritePaths=-/var/lock
ReadWritePaths=-/var/log
ReadWritePaths=-/var/run
InaccessiblePaths=-/cdrom
InaccessiblePaths=-/media
InaccessiblePaths=-/mnt
InaccessiblePaths=-/run/media
InaccessiblePaths=-/var/run/media
InaccessiblePaths=-/var/run/user
SystemCallFilter=~@clock
SystemCallFilter=~@cpu-emulation
SystemCallFilter=~@debug
SystemCallFilter=~@module
SystemCallFilter=~@mount
SystemCallFilter=~@obsolete
SystemCallFilter=~@raw-io
SystemCallFilter=~@reboot
SystemCallFilter=~@swap
SystemCallArchitectures=native

